@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.achievements-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 2rem;

    .grid {
        display: grid;
        gap: 0.75rem;
        grid-template-columns: repeat(3, 1fr);

        @media (width <= 768px) {
            grid-template-columns: 1fr;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
    }
}
