@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.logs-page {
    @include full-height;

    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    @media (width <= 768px) {
        padding: 1rem;
    }

    .content {
        max-width: 72rem;
        width: 100%;

        .title {
            @include page-title;
        }
    }
}
