@use '@/styles/constants' as *;

.admin-actions {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    gap: 1.5rem;

    .action-button {
        background: transparent;
        border: none;
        color: $text-dim;
        cursor: pointer;
        display: flex;
        padding: 0;
        transition: color 0.15s ease;

        svg {
            height: 1.25rem;
            width: 1.25rem;
        }

        @media (hover: hover) {
            &:hover {
                color: $foreground;
            }
        }
    }
}
