@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.status-page {
    @include full-height;

    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    @media (width <= 768px) {
        padding: 1rem;
    }

    .content {
        max-width: 72rem;
        width: 100%;

        .title {
            @include page-title;
        }

        .grid {
            display: grid;
            gap: 1rem;
            grid-auto-rows: 8rem;
            grid-template-columns: repeat(16, 1fr);
            margin-top: 2rem;

            @media (width <= 1024px) {
                grid-template-columns: repeat(8, 1fr);
            }

            @media (width <= 768px) {
                grid-auto-rows: auto;
                grid-template-columns: repeat(4, 1fr);
            }

            @media (width <= 480px) {
                grid-auto-rows: 8rem;
                grid-template-columns: 1fr;
            }
        }
    }
}
