@use '@/styles/constants' as *;

.footer {
    bottom: 1.5rem;
    display: flex;
    gap: 0.75rem;
    position: fixed;
    right: 1.5rem;
    z-index: 12;

    @media (width <= 768px) {
        bottom: 0.75rem;
        right: 0.75rem;
    }
}
